<div class="grad-show">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @graduate.name %>
	</p>

	<p>
	  <strong>Class year:</strong>
	  <%= @graduate.class_year %>
	</p>

	<button class="btn btn-default"><%= link_to 'Edit', edit_graduate_path(@graduate) %></button><br>
	<%= link_to 'Back', graduates_path %>
</div>