<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <br/>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time %>
    <%= f.text_field :time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content, "Event Description" %>
    <%= f.text_area :content, class: "form-control", size: "100x15" %>
  </div>

  <div class="form-group">
    <p>This is the date in which guests must have their RSVP submitted</p>
    <%= f.label :rsvp_by %>
    <%= f.date_select :rsvp_by, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :payment_instructions %>
    <p>These are instructions for guests to submit alternative payment to Paypal.</p>
    <%= f.text_area :payment_instructions, class: "form-control", size: "100x10" %>
  </div>

  <h3>Event Food Options</h3>
  <p>You may have up to five event food options. You do not need to use all five options. Please leave them blank if not used.</p>

  <% if !event.persisted? %>
  <%= f.fields_for :event_options do |ff| %>
    <div class="event-option-form">
      <h4>Option</h4>
      <div class="form-group">
        <%= ff.label :name, "Description" %>
        <%= ff.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= ff.label :price, "Cost" %>
        <%= ff.number_field :price, class: "form-control", step: 0.01 %>
      </div>

      <% if ff.object.persisted? %>
        <div class="form-group">
          <%= ff.check_box :_destroy %>
          <%= ff.label :_destroy, "Delete Option" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Add Another Event Option", "javascript:void(0)", id: "event-option-button" %>
  <br/>
  <% end %>

  <% if event.persisted? %>
    <% event.event_options.each do |eo| %>
      <h4>Option</h4>
      <p>Description: <%= eo.name %></p>
      <p>Price: <%= money(eo.price) %></p>
      <%= link_to "Edit Option", edit_event_event_option_path(event, eo) %>
    <% end %>
    <br/>
    <%= link_to "Add Event Option", new_event_event_option_path(event), class: "btn btn-success" %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
