<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format(@event.content) %>
</p>

<h4>Food Options</h4>
<% @event.event_options.each do |option| %>
  <div>
    <p>Description: <%= option.name %></p>
    <p>Price: <%= money(option.price) %></p>
  </div>
<% end %>

<div>
  <% if current_classmate.rsvps.where(event_id: @event.id).empty? %>
    <%= link_to 'RSVP', new_event_rsvp_path(@event) %>
  <% else %>
    <%= link_to 'View RSVP', event_rsvp_path(@event, current_classmate.rsvps.where(event_id: @event.id)[0]) %>
  <% end %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
