<div class="home-page">
  <div class="row">
    <div class="col-md-5">
      <div class="home-panel" id="posts">  
        <h3>Posts</h3>
        <button class="btn btn-default"><%= link_to "Create new post", new_post_path %></button>
        <% @posts.each do |post| %>
          <div class="card card-event">
            <h3><%= post.title %></h3>
            <p><%=simple_format(post.content) %></p>
            <%= link_to "Read More", post_path(post) %>
          </div>
        <% end %>
      </div>
    </div>  
    <div class="col-md-5">
      <div class="home-panel" id="events">
        <h3>Upcoming Events</h3>

        <% if @events.empty? %>
          <h5>No events to show</h5>
        <% else %>
          <% @events.each do |event| %>

            <div class="card card-event">
              <h3><%= link_to event.name, event_path(event) %></h3>
              <p>Date: <%= event.date.strftime("%m/%d/%y") %></p>
              <p><%= simple_format(event.content) %></p>
              <button class="btn btn-default"><%= link_to "See more and RSVP", event_path(event)%></button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>