<%= form_for [event, rsvp] do |f| %>
  <% if rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% rsvp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :classmate_id, value: "#{current_classmate.id}" %>
  <%= f.hidden_field :event_id, value: "#{event.id}" %>

  <%= f.fields_for :attendees do |ff| %>
    <div class="attendee-form">
      <div class="form-group">
        <%= ff.label :name %>
        <%= ff.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= ff.label :event_option_id, "Options" %>
        <%= ff.collection_select(:event_option_id, @event.event_options, :id, :name_with_price, prompt: true, class: "form-control") %>
      </div>
    </div>
  <% end %>

  <% if current_classmate.admin? %>
    <div class="form-group">
      <h4>Viewable to Administrators only.</h4>
      <%= f.label :payment_status %>
      <%= f.select(:payment_status, options_for_select(["Not Paid", "Paid"], :payment_status)) %>
    </div>
  <% end %>

  <% if !@rsvp.persisted? %>
  <%= link_to "Add Another Attendee", "javascript:void(0)", id: "add-attendee-button"%>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
