<%= form_for [event, rsvp] do |f| %>
  <% if rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% rsvp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :classmate_id %>
    <%= f.number_field :classmate_id %>
  </div>

  <div class="field">
    <%= f.label :total_cost %>
    <%= f.number_field :total_cost %>
  </div>

  <div class="field">
    <%= f.label :payment_status %>
    <%= f.text_field :payment_status %>
  </div> -->

  <%= f.fields_for :attendees do |ff| %>
    <div class="form-group">
      <%= ff.label :name %>
      <%= ff.text_field :name %>
    </div>
    <div class="form-group">
      <%= ff.label :event_option_id, "Options" %>

    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
