<h1>RSVPs for <%= @event.name %> <%=@event.date.strftime("%m/%d/%y") %></h1>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Classmate</th>
    <th>Total Cost</th>
    <th>Payment Status</th>
    <th>Payment Date</th>
  </thead>
  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= rsvp.id %></td>
        <td><%= link_to rsvp.classmate.full_name, event_rsvp_path(rsvp.event_id, rsvp.id) %></td>
        <td><%= money(rsvp.total_cost) %></td>
        <td><%= rsvp.payment_status %></td>
        <td><%= rsvp.payment_on ? rsvp.payment_on.strftime("%m/%d/%y") : "--" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
