<p id="notice"><%= notice %></p>

<p>
  <strong>Classmate:</strong>
  <%= @rsvp.classmate_id %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @rsvp.total_cost %>
</p>

<p>
  <strong>Payment status:</strong>
  <%= @rsvp.payment_status %>
</p>

<%= link_to 'Edit', edit_event_rsvp_path(@event, @rsvp) %> |
<%= link_to 'Back', event_rsvps_path(@event) %>
