<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title, "Post Title" %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :content, "Post Content" %>
    <%= f.trix_editor :content %>
  </div>

  <%= f.submit %>

<% end %>
