<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title, "Post Title" %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content %>
    <!-- <%= f.hidden_field :content, value: @post.content %> -->
    <!-- <trix-editor input="post_content" class="trix-content"></trix-editor> -->
  </div>

  <%= f.hidden_field :classmate_id, value: current_classmate.id %>

  <%= f.submit %>

<% end %>
