<!DOCTYPE html>
<html>
  <head>
    <title>PalmyraBennetAlumni</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/af-2.1.2/b-1.2.1/b-colvis-1.2.1/b-print-1.2.1/r-2.1.0/datatables.min.css"/>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/af-2.1.2/b-1.2.1/b-colvis-1.2.1/b-print-1.2.1/r-2.1.0/datatables.min.js"></script>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>

    <% if show_main_nav? %>
      <%= render "layouts/navbar" %>
    <% end %>

    <div class="container">
      <%= render "layouts/flash_messages" %>

      <%= yield %>
    </div>
  </body>
</html>
